@font-face {
  font-family: "iconfont"; /* Project id 2822368 */
  src: url('iconfont.woff2?t=1631946814217') format('woff2'),
       url('iconfont.woff?t=1631946814217') format('woff'),
       url('iconfont.ttf?t=1631946814217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e611";
}

.icon-mimalan:before {
  content: "\e625";
}

.icon-yonghu:before {
  content: "\e62e";
}

